adf-anil-data-pipeline/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-anil-data-pipeline"
		},
		"Ls_Anil_ADLS_Sink_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Ls_Anil_ADLS_Sink'"
		},
		"Ls_Anil_Databricks_New_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'Ls_Anil_Databricks_New'"
		},
		"Ls_Anil_Databricks_Output_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'Ls_Anil_Databricks_Output'"
		},
		"Ls_Anil_SQL_Source_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Ls_Anil_SQL_Source'"
		},
		"Ls_anil_Azure_Data_Lake_Storage_Gen2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Ls_anil_Azure_Data_Lake_Storage_Gen2'"
		},
		"Ls_anil_databricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'Ls_anil_databricks'"
		},
		"Ls_Anil_ADLS_Sink_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://staanildatalake01.dfs.core.windows.net/"
		},
		"Ls_Anil_Databricks_Output_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0216-185436-fmky59cr"
		},
		"Ls_Anil_SQL_Source_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "aniladmin.database.windows.net"
		},
		"Ls_Anil_SQL_Source_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sqldb-anil-metadata"
		},
		"Ls_Anil_SQL_Source_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "aniladmin"
		},
		"Ls_anil_Azure_Data_Lake_Storage_Gen2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://staanildatalake01.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_Anil_Incremental_Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LKP_NewWatermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT MAX(ModifiedDate) as NewWatermarkValue FROM Sales",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_Anil_SQL_Sales",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LKP_OldWatermark",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LKP_NewWatermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select * from Sales \nwhere ModifiedDate > '@{activity('LKP_OldWatermark').output.firstRow.WatermarkValue}' \nand ModifiedDate <= '@{activity('LKP_NewWatermark').output.firstRow.NewWatermarkValue}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Anil_SQL_Sales",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_Anil_Sink_Parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "LKP_OldWatermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT WatermarkValue FROM WatermarkTable WHERE TableName = 'Sales'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_Anil_SQL_Sales",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-16T11:35:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_Anil_SQL_Sales')]",
				"[concat(variables('factoryId'), '/datasets/ds_Anil_Sink_Parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sales_Medallion_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/banothanilkumar162000@gmail.com/Read_Bronze_Data"
						},
						"linkedServiceName": {
							"referenceName": "Ls_Anil_Databricks_Output",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-22T05:40:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_Anil_Databricks_Output')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Anil_SQL_Sales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_Anil_SQL_Source",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SalesID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CustomerName",
						"type": "varchar"
					},
					{
						"name": "ProductName",
						"type": "varchar"
					},
					{
						"name": "Amount",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Sales"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_Anil_SQL_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Anil_Sink_Parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_Anil_ADLS_Sink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_Anil_ADLS_Sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_Anil_ADLS_Sink')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Ls_Anil_ADLS_Sink_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Ls_Anil_ADLS_Sink_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_Anil_Databricks_New')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "https://adb-7405609286999368.8.azuredatabricks.net",
					"clusterId": "0216-185436-fmky59cr",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('Ls_Anil_Databricks_New_accessToken')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_Anil_Databricks_Output')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405609286999368.8.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('Ls_Anil_Databricks_Output_accessToken')]"
					},
					"existingClusterId": "[parameters('Ls_Anil_Databricks_Output_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_Anil_SQL_Source')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Ls_Anil_SQL_Source_properties_typeProperties_server')]",
					"database": "[parameters('Ls_Anil_SQL_Source_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Ls_Anil_SQL_Source_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Ls_Anil_SQL_Source_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_anil_Azure_Data_Lake_Storage_Gen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Ls_anil_Azure_Data_Lake_Storage_Gen2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Ls_anil_Azure_Data_Lake_Storage_Gen2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_anil_databricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "https://adb-7405609286999368.8.azuredatabricks.net",
					"clusterId": "0216-185436-fmky59cr",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('Ls_anil_databricks_accessToken')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}